@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.wrapper{
    grid-area:four;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'VT323', monospace;
  font-size: 1.5rem;
  color: #fff;
}
.desc {
  text-align: center;
  margin-bottom: 0.1rem;
  font-size: 3rem;
  color: orange;
}

.inp {
    margin:2rem;
  font-family: inherit;
  color: inherit;
  letter-spacing: 3px;
  // text-align: center;
  background-color: transparent;
  border: 1px dashed orange;
  border-radius: 0.5rem;
  padding: 1.2rem;
  caret-color: #fff;
  &:enabled {
    border-style: solid;
    outline: none;
    font-size: 22px;
    text-align: center;
  }
}
